body {
    margin: 0;
/*     	background-color: #fff8d8; */
}

.container {
    display: block;
    width: 1220px;
    height: auto;
    margin: auto;
}
#page{
    margin-top: 0px;
    background-color: #f4f4f4;
}

.info-title {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #189eff;
    line-height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
}