@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

.product-img-slides {
    width: 350px;
    height: 600px;
    margin-left: 0;
    display: inline-block;
    border: 1px solid gray;
}

.mySlides {
    width: 100%;
    height: 470px;
}

.tiny-img {
    width: 60px;
    height: 100px;
    display: inline-block;
}

.tiny-img img {
    width: 100%;
    height: 100%;
}

/*----------------------------------*/


.btn-hoi-mua{
    display: block;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
}

.product-info {
    display: inline-block;
    width: 400px;
    height: 600px;
    margin-left: 20px;
    vertical-align: top;
    border: 1px solid gray;
}

.product-info p {
    line-height: 50px;
    padding-left: 15px
}

/*-------------------------------------*/

.thongtin_nguoiban {
    height: 600px;
    width: 370px;
    margin-left: 20px;
    border: solid 1px gray;
    display: inline-block;
    vertical-align: top
}

.thongtin_nguoiban .anh_nguoiban {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 0 auto;
}

.thongtin_nguoiban p {
    text-align: left;
    margin-left: 15px;
    line-height: 50px;
}

.text_info {
    margin-top: 10px;
}

/*------------------------------------*/

/*
.try {
    height: 50px;
    width: auto;
    background-color: green;
}



.book-idea {
    float: left;
    height: 470px;
    width: 1130px;
    margin-top: 10px;
    border: solid 1px #189eff;
    margin-left: 70px;
    margin-bottom: 50px;
}

.book-idea .noidung {
    float: left;
    height: 95%;
    width: 100%;
}

.book-idea .box {
    float: left;
    height: 95%;
    width: 95%;
    margin-left: 30px;
}

.book-idea .box .sp {
    float: left;
    height: 90%;
    width: 22.5%;
    margin-right: 3px;
    margin-left: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

.book-idea .box .sp .product-info h5,
.book-idea .box .sp p,
.book-idea .box .sp h4 {
    text-align: center;
}


.book-idea .box .sp p {
    font-style: italic;
}

.book-idea .box .sp h4 {
    font-size: 16px;
    color: red;
}

.book-idea h3 {
    display: block;
    height: 40px;
    margin: 0;
    line-height: 40px;
    color: #189eff;
    background-color: white;
    margin-top: -20px;
    text-align: center;
}

.book-idea h3 {
    width: 40%;
    margin-left: 370px;
}

.text_mota {
    height: auto;
    width: 1130px;
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    border: solid 1px #189eff;
    margin-bottom: 50px;
}

.text_mota textarea {
    float: left;
    height: 300px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    width: 1090px;
    margin-left: 20px;
}

.text_mota h6 {
    margin-left: 20px;
}
*/
