#header {
    /*	padding: 10px 0 10px 0;*/
    border-bottom: 1px solid #8c8c8c;
}

.logo {
    display: inline-block;
    width: 260px;
    height: 80px;
}

.search {
    display: inline-block;
    width: 600px;
    height: auto;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

.search-form {
    height: 60px;
}

.search-form button {}

.search-item {
    height: 100%;
}

.search-input {
    width: 530px;
    font-size: 17px;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 10px;
}

.search-button {
    width: 50px;
}

.credentials {
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.credentials ul {
    list-style-type: none;
}

.credentials ul li {
    display: inline-block;
    font-size: 17px;
}

.credentials a:VISITED,
a:LINK {
    color: #9b9fa5;
    text-decoration-line: none;
    font-weight: bold;
    cursor: auto;
}

.credentials a:link:active,
a:visited:active {
    color: #52555b;
}

.credentials a:HOVER {
    color: #52555b;
}